* {
  text-align: center;
  margin-top: 0.5em;
  font-family: 'Open Sans';       /* will change but looks nice for now.  */
} 

/* Home Nav & Main Screen */
.Home-Body {
  text-align: center;
  background-color: peachpuff;
  min-height: 100vh;
  min-width: 100vh;
}
  
.Column-Center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.Row-Center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.Column-Between {
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.navBall {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  /* padding: 0 3em 0 3em;
  margin: 0 3em 0 3em; */
  opacity: 1.0;
}

.Ghost {
  /* background-color: black; */
  height: 85px;
  width: 85px;
  border-radius: 50%;
  opacity: 1.0;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 0 3em 0 3em;
  margin: 0 3em 0 3em; */
}

#Pokeball {
  background-image: url("/public/img/pokeball.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Greatball {
  background-image: url("/public/img/greatball.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Ultraball {
  background-image: url("/public/img/ultraball.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* SCREEN */
.Screen {  
  padding: 4em 0 4em 0;
  overflow-y: scroll;
  /* overflow: hidden; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  /* line-height: 2.5em; */
  height: 40em;
  width: 40em;
  background-image: url('/public/img/pokedexScreen.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.Poke-Card {
  list-style-type: none;  
}

.Pokedex {
  height: 400px;
  width: 400px;
}

.Close-Pokedex {
  background: url("/public/img/closePokeDex.png") no-repeat;
  border-radius: 50%;
}
.Open-Pokedex {
  background: url("/public/img/openPokeDex.png") no-repeat;
  border-radius: 50%;
  box-shadow: 2px 2px 2px black;
}

.Pokedex-Animate {
  animation: flickFade 4s;
  border: 5px solid whitesmoke;
}

.Header-Container {
  margin-top: 1.5em;
  height: 2em;
  width: 30%;
  border: rgb(151, 135, 135);
}

.Bootstrap-Screen-Btn {
  border-radius: 100%;
  background-image: url("/public/img/pokeball.png");

}
/* SCREEN */



/* KEYFRAMES && ANIMATIONS */
@keyframes flickFade {
  0% {
    opacity: 1.0;
  }
  20% {
    opacity: 0.9;
    opacity: 0.2;
    border: 5px solid ;
    opacity: 0.8;
  }
  40% {
    opacity: 0.7;
    border: 10px solid hsl(11, 96%, 50%/1.0);
    border: 10px solid whitesmoke;
    border: 10px solid hsl(11, 96%, 50%/1.0);
  }
  60% {
    opacity: 0.5;
    border: 3px dotted rgb(244, 21, 21);
  }
  80% {
    opacity: 0.2;
    border: 
  }
  100% {
    opacity: 0.0
  }
}

#Screen-Input {
  margin-top: 2em;
}

.Pokedex-Float {
  animation: Float 4s;
  animation-iteration-count: infinite;
}

@keyframes Float {
  0% {
    /* position: relative; */
    transform: skewY(-5deg)
  }
  10% {
    position: relative;
    transform: skewY(+5deg)
    
  }
  20% {
    position: relative;
    
  }
  30% {
    position: relative;
    
  }
  40% {
    position: relative;
    
  }
  50% {
    position: relative;
    
  }
  60% {
    position: relative;

  }
  70% {
    position: relative;

  }
  80% {
    position: relative;

  }
  90% {
    position: relative;

  }
  100% {
    position: relative;

  }
}
