.Screen {
    // max-width: 100%;
    height: 40rem;
    width: 40rem;   
}

.Pokedex {
    height: 20rem;
    width: 20rem;
}


// * captcha
.Captcha-Box {
    border: 5px solid hotpink;
    height: 10rem;
    width: 10rem;
}

#Gear {
    height: 12rem;
    width: 12rem;
}

@media (max-width: 1200px) {
    #Gear {
        border: 5px solid orange;
        height: 4rem;
        width: 4rem;
    }
    .Home-Body {
        // padding: s;
        height: 250vh;
        overflow: hidden;
    }
}

// * captcha
